@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --color1: #283959;
    --color2: #A6A9F5;
    --color3: #936CF5;
    --color4: #699AF5;
    --color5: #0FC2C0;
    --color6: #FFFFFF;
    --color7: #000000;
    --main-font:'Helvetica';
    --sub-font:'SBAggroB';
    font-size: 10px;
    font-family: var(--main-font);
}
*{
    margin: 0;
    padding : 0;
}
body {
    width: 100%;
    height: 100%;
    min-width: 136rem;
}
.header {
    height: 10rem;
    background: var(--color1);
    color: white;
    cursor: pointer;
    min-width: 100vw;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(5,1fr);
}
.tab-btn-grp {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 20%); */
}
.logo-img{
    display: flex;
    height:10rem;
    width: 10rem;
    grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 6;
}
.header-login{
    grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 6;
  
}
.header-login span:hover{
    text-decoration: underline;
}
.header-login > div{
    /* display:grid; */
    /* align-content:center ; */
    /* justify-content: center; */
}
.header-login > div > img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}