@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --color1: #283959;
    --color2: #A6A9F5;
    --color3: #936CF5;
    --color4: #699AF5;
    --color5: #0FC2C0;
    --main-font:'Helvetica';
    --sub-font:'SBAggroB';

}

.header {
    height: 100px;
    background: var(--color1);
    color: white;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: flex-end;
}