body {
    /* background-color: #c7b299; */
    display: block;
}
#main {
    width: 100%;
    background-color: var(--color2) !important;
    box-sizing: border-box;
    display: block;
}
.topUserVs {
    margin-top: 10px;
    margin-left: 20px;
    padding: 9px;
    padding-top: 15px;
    width: 100%;
    height: 52px;
    float: left;
    box-sizing: border-box;
    display: block;
    position:relative;
}
.btn-con {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-group {
    position: relative;
    display: inline-flex;
    float: left;
    vertical-align: middle;
    box-sizing: border-box;
}
.btn-light input {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}
.input-group {
    float: left;
    position: relative;
    display: flex;
}

.input-group input {
    width: 170px;
    padding: 5px;
    margin-right: 10px;
}

.search-btn {
    float: left;
    box-sizing: border-box;
}
.input-group-append{
    margin-left: -1px;
    display: flex;
}
#con1 {
    background-color: var(--color2);
    font-size: 2rem;
    /* background-color: #c7b299; */
    width: 50%;
}
#con2 {
    font-size: 2rem;
    /* background-color: #c7b299; */
    background-color: var(--color2);
    width: 50%;
}
.con {
    float: left;
    min-width: 530px;
    min-height: 750px;
}
.con-margin {
    margin-left: 15px;
}
/* 매치정보 css */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto; /* 세로 스크롤 생기게 */
}
.vsTable {
    /*display: block;*/
    border-collapse: collapse; /* 단일 테두리 */
    background-color: white;
}
.vsTable tr {
    /*display: table-row;*/
    /*unicode-bidi: isolate;*/
    /*vertical-align: inherit;*/
}
.vsTable th:nth-of-type(1) {
    width: 150px;
    padding-right: 0px;
}
.vsTable th:nth-of-type(2) {
    width: 57px;
}
.vsTable th:nth-of-type(3), .vsTable th:nth-of-type(6)  {
    width: 55px;
}
.vsTable th:nth-of-type(4), .vsTable th:nth-of-type(7)  {
    width: 80px;
}
.vsTable th:nth-of-type(5), .vsTable th:nth-of-type(8) {
    width: 80px;
}
.vsTable th:nth-of-type(9) {
    width: 80px;
    padding-right: 28px;
}
.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    box-sizing: border-box;
}
.match-win{

}
.vsTable {
    text-align: center;
}

.vsTable th,
.vsTable td {
    text-align: center;
}

