.out-div {
    display: flex;
    padding: 20px;
    justify-content: center;
    justify-items: center;
}
#crt-box-outline {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    justify-items: center;
}
#crt-box {
    margin-bottom: 2.5rem;
}
#page-box {
    display: flex;
    font: 15px var(--main-font);
    justify-content: center;

}
.page-num-box {
    width: 1.4rem;
    text-align: center;
}
.page-num-box:hover {
    cursor: pointer;
    text-decoration: underline;
}
#sort-nav {
    width: 20%;
    background-color: aqua;
}